<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Buscoloteria</display-name>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bitcoincalculator</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
    		<param-name>primefaces.UPLOADER</param-name>
    		<param-value>commons</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
        	<param-name>primefaces.SUBMIT</param-name>
        	<param-value>partial</param-value>
    	</context-param>
    
	<context-param>
        	<param-name>primefaces.TRANSFORM_METADATA</param-name>
        	<param-value>true</param-value>
    	</context-param>
    
	<context-param>
        	<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        	<param-value>true</param-value>
    	</context-param>
	
	<context-param>
        	<param-name>primefaces.LEGACY_WIDGET_NAMESPACE</param-name>
        	<param-value>true</param-value>
    	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>/index.jsf</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsf</location>
	</error-page>

	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>application/x-font-ttf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/x-font-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>application/x-font-woff2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/x-font-eot</mime-type>
	</mime-mapping>
</web-app>
