.copyright {
	clear:both;
}

.banners .ui-datagrid-content {
	padding: 0.5em;
}

.panelBanner {
	padding: 0.5em;
	border-radius: 4px;
	height: 150px;
}

.banner_1 {
	text-align: center;
	background-color: #9189fd;
}

.banner_2 {
	text-align:center;
	background-color: #ffbf79;
}

.banner_3 {
	text-align:center;
	background-color: #8dc8ff;
}