.c05 {
	width: 5%;
}

.c10 {
	width: 10%;
}

.c15 {
	width: 15%;
}

.c20 {
	width: 20%;
}

.c30 {
	width: 30%;
}

.c40 {
	width: 40%;
}

.c50 {
	width: 50%;
}

.c60 {
	width: 60%;
}

.c70 {
	width: 70%;
}

.c75 {
	width: 75%;
}

.c80 {
	width: 80%;
}

.c90 {
	width: 90%;
}

.c100 {
	width: 100%;
}

.copyright {
	clear:both;
}