body {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
    color: #757575;
    font-size: 13px;
    background-color: #EEF2F6!important;
}

.icon {
	width: 24px;
	height: 24px;
}

.first {
	float: left;
}

.last {
	float: right;
}

.landing-header .header-top {
	background-color: #457fca;
	height: 66px;
}

.landing-header .menu-container {
	padding: 1em;
	background-color: #457fca;
}

.landing-header .selectLang {
	float:right;
	min-width: 138px;
}

.landing-footer {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}